body {
      background-image: url("itklogo.png");
      background-repeat: no-repeat;
      background-position: right bottom;
      margin-right: 0px;
      background-attachment: fixed;
      }

img {
	width: 10%;
	height: auto;
	border-style: thin;
    border-width: thick;
    border-radius: 15px;
	}

.pealkiri {
	text-transform: uppercase;
	color: black;
	}
h1 {
    font-size: 1em;
    }

tr, td {
	border-bottom: 1px solid #ddd;
	}

li a:link, li a:visited,  td a:link, td a:visited {
	display: block;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    margin-left: 2px;
    margin-top:1px;
    padding-top: 2px;
    padding-left: 7px;
    padding-bottom: 2px;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    background-color: #8FAC1E;
    color: #ffffff;

	}

li a:hover, li a:active, li a:focus, td a:hover, td a:active, td a:focus{
       background-color: #8E8E8E;
       color: #333333;
	}
